<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles/style.css">

    <!-- custom js -->

    <!-- js plugins -->
    <script src="https://kit.fontawesome.com/025a8d6676.js" crossorigin="anonymous"></script>
    <title>Blitzle - CICT Chatbot</title>
</head>
<body>
    <!-- chat window frame -->
    <section class="window-frame">
        <!-- chat header frame -->
        <header class="header-frame">
            <h2 class="">Blitzle</h2>
            <span>CICT Chatbot</span>
            <button class=""><i class="fa-solid fa-xmark"></i></button>
        </header>
        <!-- chat main conversation frame -->
        <section class="conversation-frame">
            <!-- chat bubbles -->
            <section class="chat-bubble-container"></section>
            <!-- suggestion bubbles -->
            <section class="chat-bubble-suggestions"></section>
        </section>
        
        <!-- chat input frame -->
        <section class="input-frame">
            <form class="input-form" autocomplete="off">
                <input type="text" name="query" placeholder="Type your message here...">
                <button class="input-button"><i class="fa-solid fa-paper-plane"></i></button>
                <!-- loading gif -->
                <img class="loading" src="./images/loading.gif" alt="loading" />
            </form>
        </section>  
    </section>

    <!-- chatbot button -->
    <section class="chatbot-button-frame">
        <img src="./images/chatting.svg" alt="chatbot-icon">
    </section>

    <!-- chatbot scripts -->    
    <script type="module" src="./js/index.js"></script>
    <script type="module">
        import { initChatbot } from './js/index.js';
        initChatbot();
    </script>
</body>
</html>